	/* Estilo externo */

.header{
	text-align: left;
	font-family:Arial;
	font-size: 40px;
	color: #4B0082;
}
.menus{
	text-align:left;
	font-family:Arial;
	font-size:20px;
	color:#4B0082;
	text-align:italic;
}
.Entre{
	text-align:right-side;
	font-family:Arial;
	font-size:20px;
	color:#4B0082;
	text-align:bold;
	
	
